<div class="row no-bottom-margin">
  <div class="col s12 m3 l3">
    <div class="user-action-links">
      <%= link_to "Create Category", new_category_path %>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="user-action-links">
      <%= link_to "Create Job", new_user_job_path(user) %>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="user-action-links">
      <%= link_to "Edit Profile", edit_user_path(user)%>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="user-action-links">
      <%= link_to "Public Profile", user %>
    </div>
  </div>
</div>