<div class="row no-bottom-margin">
  <div class="col s12 m4 l4">
    <div class="user-action-links">
      <%= link_to "Create Job", "#" %>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="user-action-links">
      <%= link_to "Edit Profile", "#" %>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="user-action-links">
      <%= link_to "Public Profile", "/users/dan_user" %>
    </div>
  </div>
</div>