@import "colors";
@import "mixins";

// ------HOMEPAGE------

.create-acct-button,
.log-in-button {
  margin-top: 5px;
  width: 225px;
}

.category-dropdown {
  background-color: $base-purple-blue;
  margin: 0 auto;
  max-width: 475px;
  opacity: 0.9;
  padding-bottom: 20px;
}

.choose-category-title {
  font-size: 26px;
  color: $white;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 100;
}

.category-select {
  color: $black;
  font-size: 18px;
  height: 35px;
}

.home-title {
  color: $white;
  font-family: 'Rokkitt', serif;
  font-size: 100px;
  letter-spacing: 1rem;
  position: relative;
  text-shadow: 3px 5px 15px $black;
}

.landing-buttons {
  position: relative;
  top: 160px;
}

.index-button {
  background-color: $base-purple-blue;
  height: 70px;
  margin: 0 10px;
  opacity: 0.9;
  padding: 0;

  &:hover {
    background-color: $base-light-blue-light;
  }

  a {
    color: $white;
    display: block;
    font-size: 17px;
    height: 100%;
    padding: 20px;

    &:hover {
      color: $base-purple-blue;
    }

  }

}

.active-status-text {
  color: #6C8672;
  font-weight: 100;
}

// -----CATEGORY SHOW-----

.category-list {
  background-color: $white;
  margin-left: 20px;
  margin-top: 40px;
}

.col.s12.m9.l9.category-content {
  padding-right: 100px;
}

.category-list-item {
  box-sizing: border-box;
  color: $base-dark-blue;
  font-size: 26px;
  padding: 15px 0;

  &:hover {
    background-color: $base-light-blue-light;
  }

  &:last-child {
    padding-bottom: 10px;
  }

  a {
    color: $base-purple-blue-dark;
  }

}

.mobile-category-dropdown {
  display: none;
}

.job-partial {
  border-bottom: 0.5px solid $black;
  margin: 0 0 40px 0;
}

.job-info {
  border-right: 0.5px solid $black;
  color: $highlight-cyan;
  font-size: 17px;

  &:last-child {
    border-right: 0;
  }

}

.no-bottom-margin {
  margin-bottom: 0;
}

.job-title-link {
  @include main-link;
}

.job-lister-name {
  margin-top: 0;
}

.job-lister-name-link {
  @include main-link;
}

.job-lister-image {
  margin: 20px 0 0;
}

.category-name {
  text-align: left;
}

// -----JOB SHOW-----

#bid_price {
  width: 110px;
}

.google-map-job {
  height: 300px;
  margin: 0.90rem auto 0;
  max-width: 400px;
}

.col.s12.m10.l10.left-align {
  padding-left: 0;
}

.col.s12.m12.l8.box-b.main-job-information {
  padding-left: 50px;

  p {
    text-align: justify;
  }

}

.back-to-category-link {
  @include main-link;
  font-size: 20px;
}

.job-show-title {
  color: $base-dark-blue;
  font-size: 40px;
}

.bidder-name {
  font-size: 16px;
  padding-left: 20px;
}

.bid-comment {
  font-size: 18px;
  height: 60px;
  margin-left: 20px;
}

.bid-accordion {
  height: 170px;
}

.log-in-to-bid {
  @include button-link;
  font-size: 32px;
  height: 25px;
  letter-spacing: 0.5em;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.bidding-closed {
  @include job-status-banner;
  background-color: $red;
  color: $white;
}

.job-in-progress,
.no-bids-banner {
  @include job-status-banner;
  background-color: $base-yellow;
  color: $black;
}

.job-completed {
  @include job-status-banner;
  background-color: $highlight-cyan;
  color: $white;
}

.job-cancelled {
  @include job-status-banner;
  background-color: $grey;
  color: $black;
}

.job-lister-details {
  margin: 35px 0;
  padding: 15px;
}

.lister-rating {
  color: $grey;
}

.action-link {
  @include main-link;
}

.submit-bid-btn {
  background-color: $base-green;

  &:hover {
    background-color: $base-green-light;
  }

}

.update-bid-btn {
  background-color: $base-purple-blue;
  margin: 5px auto;
  width: 168px;

  &:hover {
    background-color: $base-purple-blue-dark;
  }

}

.btn-delete {
  background-color: $red;
  margin: 5px auto;
  width: 168px;

  &:hover {
    background-color: $dark-red;
  }

}

a.btn.btn-delete {
  color: $white;
}


.lister-info {
  font-size: 18px;
}

h3#ui-id-1 {
  background: $base-purple-blue-dark;
  color: $white;
  font-size: 26px;
  letter-spacing: 0.5em;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: $base-light-blue;
    color: $base-purple-blue-dark;

    .arrow-icon {
      color: $base-green-dark;
    }

  }

}

h3#ui-id-1.my-bid {
  background: $base-green;
  color: $white;
  font-size: 26px;
  letter-spacing: 0.5em;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;

  .arrow-icon {
    color: $base-light-blue;
  }

  &:hover {
    background: $base-light-blue;
    color: $base-purple-blue-dark;

    .arrow-icon {
      color: $base-green-dark;
    }

  }

}

span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  display: none;
}

span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  display: none;
}

.job-lister-title {
  font-weight: 100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.arrow-icon {
  color: $base-green-light;
  margin: 0 10px;
  transform: rotate(180deg);
}

.bids-table-title {
  font-weight: 100;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

// -----DURATION TAGS-----

.duration-tag {
  border-radius: 5px;
  margin: 0 auto;
  width: 110px;
}

.duration-estimate-short {
  background-color: $base-green-light;
}

.duration-estimate-medium {
  background-color: $orange;
}

.duration-estimate-long {
  background-color: $light-red;
}

.duration-estimate-event {
  background-color: $base-light-blue;
}

// -----MAIN STYLES-----

body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
}

h2 {
  font-family: 'Rokkitt', serif;
  font-size: 60px;
  letter-spacing: 0.7rem;
}

// -----NAVBAR-----

nav .brand-logo {
  color: #fff;
  margin-left: 20px;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
}

nav .nav-wrapper {
  background-color: $base-green;
}

nav a {
  color: $white;
}

nav ul a:hover {
  color: $base-yellow;
}

.login-confirm {
  color: $base-light-blue-light;
}

.dropdown-content li {

  &:hover {
    background: $light-grey;
  }

  a {
    color: $base-purple-blue-dark;

    &:hover {
      color: $base-green;
    }

  }

}

.mobile-menu-dropdown li {
  background: $base-purple-blue;
  height: 40px;


  a {
    color: $white;
    text-align: left;

    &:hover {
      color: $base-green;
    }

  }

}

// -----DASHBOARD-----

.user-action-links {
  @include button-link;
  margin: 10px auto;
  max-width: 200px;
}

.dashboard-user-image {
  height: 200px;
  margin: 20px 0 0;
  width: 200px;
}

.user-address {
  margin: 10px auto 5px;
  max-width: 80%;
}

.row.dashboard-user-image.circle {
  margin: 10px auto;
}

table a {
  @include main-link;
}

.dashboard-table-headers {
  background: $light-grey;
  color: $black;
  letter-spacing: 0.1em;

  th {
    vertical-align: bottom;
  }

}

.dashboard-title {
  margin-top: 30px;
}

.bio {
  margin-right: 55px;
  text-align: justify;
}

.status-pending {
  color: $orange;
}

.status-accepted {
  color: $base-green-dark;
  font-size: 14px;
}

.status-rejected {
  color: $red;
  font-size: 14px;
}

.container {
  margin-bottom: 10%;
}

.filter {
  margin-top: 20px;

  select {
    font-size: 16px;
    height: 30px;
    width: 150px;
  }

}

.filter-label {
  font-size: 16px;
}

.tabs .tab a {
  @include main-link;
}

.tab-border {
  border: 0.5px solid $light-grey;
}

.dashboard-email {
  margin: -10px;

  a {
    @include main-link;
  }
}

// -----USER PROFILE-----

.comment-text {
  text-align: justify;
}

.card .comment-card {
  padding: 0;

  a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    @include main-link;
  }

}

.no-top-margin {
  margin-top: 0;
}

.profile-email {
  margin: -20px;

  a {
    @include main-link;
    font-size: 22px;
  }
}

.profile-bio {
  margin-left: 30px;
}

.comments-label {
  color: $grey;
  font-weight: 100;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

/* BUTTONS */

.img-small {
  max-width: 100%;
}

.container {
  padding-top: 20px;
}

.error {
  color: rgba(196, 42, 32, 0.8);
}

.inactive-status-text {
  color: #C4D4AF;
  font-weight: 100;
}

.pink-error-text {
  color: #F17D80;
}

/* CARDS */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

/* FLASH MESSAGES */

.flash-success {
  background-color: #ccff90;
  text-align: center;
  font-size: 1.2em;
}

.flash-error {
  background-color: #f25050;
  text-align: center;
  font-size: 1.2em;
}

/* ORDERS SHOW PAGE */

.order-image.col.s5 {
  clear: both;
}

.order-card-title {
  font-size: 30px;
  display: block;
  padding-bottom: 17px;
  font-weight: 700;
}

.order-details-top {
  font-size: 15px;
  padding: 20px 0px;
  font-weight: 300;
  border-bottom: 1px dashed #607D8B;
}

.order-heading {
  font-weight: 700;
  text-decoration: underline;
  margin-right: 10px;
}

.order-data {
  text-align: left;
  font-size: 17px;

  a {
    font-size: 20px;
    color: rgb(64, 136, 171);

    &:hover {
        color: #0EAF15;
    }

  }

}

.card-panel {
  margin-top: 2rem;
}

// -----FORM STYLING-----

.profile-form {
  box-shadow: 1px 1px 53px $box-shadow;
  margin: 0 auto 20px;
  padding: 20px;
  width: 50%;
}

.job-form {
  box-shadow: 1px 1px 53px $box-shadow;
  margin: 0 auto 20px;
  padding: 20px;
  width: 80%;

  textarea {
    height: 150px;
  }

  select {
    width: 200px;
  }
}

label {
  font-size: 1.3rem;
  font-weight: 100;
  color: #9e9e9e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
input[type=file],
textarea.materialize-textarea {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.dropdown-content li {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

.upload-file {
  padding-left: 110px;
}

select {
  display: block;
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
}

.user-bio {
  height: 100px;
}

// -----SIDE NAV-----

.side-nav {
  background-color: $base-purple-blue-dark;
  opacity: 0.8;

  li {
    border-bottom: 1px solid #303F46;
  }

  a {
    color: $white;
    font-size: 15.5px;

    &:hover {
      background-color: darken($base-purple-blue-dark, 15%);
      color: $white;
    }

  }

}

// -----SLIDER-----

.slider.fullscreen {
  margin-top: 62px;
}

.slider .slides li .caption {
  top: -10%;
}

// -----COMMENT FORM-----

.comment-form {
  width: 90%;

  select {
    width: 70px;
  }

  textarea {
    height: 120px;
  }
}
