@import "colors";
@import "mixins";
/* STRIPE -- DO NOT DELETE!!!! */

button.stripe-button-el span {
  display: none !important;
}

/* END OF STRIPE -- DO NOT DELETE!!!! */

// ------HOMEPAGE------

.category-dropdown {
  background-color: $base-purple-blue;
  margin: 0 auto;
  max-width: 475px;
  opacity: 0.9;
  padding-bottom: 20px;
}

.choose-category-title {
  font-size: 26px;
  color: $white;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 100;
}

.category-select {
  color: $black;
  font-size: 18px;
  height: 35px;
}

.home-title {
  color: $white;
  font-family: 'Rokkitt', serif;
  font-size: 100px;
  letter-spacing: 1rem;
  position: relative;
  text-shadow: 3px 5px 15px $black;
}

.landing-buttons {
  position: relative;
  top: 160px;
}

.index-button {
  background-color: $base-purple-blue;
  height: 70px;
  margin: 0 10px;
  opacity: 0.9;
  padding: 0;

  &:hover {
    background-color: $base-light-blue-light;
  }

  a {
    color: $white;
    display: block;
    font-size: 17px;
    height: 100%;
    padding: 20px;

    &:hover {
      color: $base-purple-blue;
    }

  }

}

.active-status-text {
  color: #6C8672;
  font-weight: 100;
}

// -----CATEGORY SHOW-----

.category-list {
  background-color: $white;
  margin-left: 20px;
}

.category-list-item {
  box-sizing: border-box;
  color: $base-dark-blue;
  font-size: 26px;
  padding: 20px 0;

  &:hover {
    background-color: $base-light-blue-light;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  a {
    color: $base-purple-blue-dark;
  }

}

.mobile-category-dropdown {
  display: none;
}

.job-partial {
  border-bottom: 0.5px solid $black;
  margin: 0 70px 40px 0;
}

.job-info {
  border-right: 0.5px solid $black;
  color: $highlight-cyan;
  font-size: 17px;

  &:last-child {
    border-right: 0;
  }

}

.no-bottom-margin {
  margin-bottom: 0;
}

.job-title-link {
  @include main-link;
}

.job-lister-name {
  margin-top: 0;
}

.job-lister-name-link {
  @include main-link;
}

.job-lister-image {
  margin: 20px 0 0;
}

// -----JOB SHOW-----

.time-interval-select {
  margin-bottom: 13px;
  width: 100px;
}

.back-to-category-link {
  @include main-link;
  font-size: 20px;
}

.job-title {
  color: $base-dark-blue;
}

.bidder-name {
  padding-left: 20px;
}

.bid-comment {
  font-size: 18px;
  height: 60px;
  margin-left: 20px;
}

.bid-accordion {
  height: 170px;
}

.job-lister-details {
  margin: 35px 0;
}

.action-link {
  @include main-link;
}

.submit-bid-btn {
  background-color: $base-green;

  &:hover {
    background-color: $base-green-light;
  }

}

// -----DURATION TAGS-----

.duration-tag {
  border-radius: 5px;
  margin: 0 auto;
  width: 110px;
}

.duration-estimate-short {
  background-color: $base-green-light;
}

.duration-estimate-medium {
  background-color: $orange;
}

.duration-estimate-long {
  background-color: $light-red;
}

.duration-estimate-event {
  background-color: $base-light-blue;
}

// -----MAIN STYLES-----

body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
}

h2 {
  font-family: 'Rokkitt', serif;
  font-size: 60px;
  letter-spacing: 0.7rem;
}

// -----NAVBAR-----

nav .brand-logo {
  color: #fff;
  margin-left: 20px;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
}

nav .nav-wrapper {
  background-color: $base-green;
}

nav a {
  color: $white;
}

nav ul a:hover {
  color: $base-yellow;
}

.login-confirm {
  color: $base-light-blue-light;
}

// -----DASHBOARD-----

.user-action-links {
  margin: 10px auto;
  max-width: 200px;

  a {
    color: $white;
    display: block;
    padding: 20px;
    background-color: $base-purple-blue-dark;

    &:hover {
      color: $base-purple-blue-dark;
      background-color: $base-light-blue-light;
    }

  }

}

.bio {
  margin-right: 15px;
  text-align: justify;
}

.status-pending {
  color: $orange;
}

.status-accepted {
  color: $base-green-dark;
}

.status-rejected {
  color: $red;
}

.container {
  margin-bottom: 10%;
}

.filter {
  margin-top: 40px;
}

.tabs .tab a {
  color: $base-purple-blue-dark;
}

.tab-border {
  border: 0.5px solid black;
}

.tab-content {
  backgroud-color: $base-light-blue-light;
}

// -----USER PROFILE-----

.right-float {
  float: right; 
}

.comment-text {
  text-align: justify;
}

/* ORDERS */

.status-ordered {
  color: #ffa000;
}

.status-paid {
  color: green;
}

.status-cancelled {
  color: red;
}

.status-completed {
  color: $black;
}

.order-status {
  width: 200px;
  margin: 5px auto 20px auto;
}

/* BUTTONS */

.remove-item-button {
  font-size: 14px;
  position: relative;
  top: -62px;
  left: 150px;
}

.img-small {
  max-width: 100%;
}

.highlight tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $white;
}

.container {
  padding-top: 20px;
}

.error {
  color: rgba(196, 42, 32, 0.8);
}

.btn-edit {
  background-color: rgba(115, 127, 149, 1);

  &:hover {
    background-color: rgba(115, 127, 149, 0.8);
  }

}

.btn-delete {
  background-color: rgba(104, 168, 173,1);

  &:hover {
    background-color: rgba(104, 168, 173,0.8);
  }

}

.create-acct-button,
.log-in-button {
  margin-top: 5px;
  width: 225px;
}

.inactive-status-text {
  color: #C4D4AF;
  font-weight: 100;
}

.pink-error-text {
  color: #F17D80;
}

/* CARDS */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

/* FLASH MESSAGES */

.flash-success {
  background-color: #ccff90;
  text-align: center;
  font-size: 1.2em;
}

.flash-error {
  background-color: #f25050;
  text-align: center;
  font-size: 1.2em;
}

/* ORDERS SHOW PAGE */

.order-image.col.s5 {
  clear: both;
}

.order-card-title {
  font-size: 30px;
  display: block;
  padding-bottom: 17px;
  font-weight: 700;
}

.order-details-top {
  font-size: 15px;
  padding: 20px 0px;
  font-weight: 300;
  border-bottom: 1px dashed #607D8B;
}

.order-heading {
  font-weight: 700;
  text-decoration: underline;
  margin-right: 10px;
}

.order-data {
  text-align: left;
  font-size: 17px;

  a {
    font-size: 20px;
    color: rgb(64, 136, 171);

    &:hover {
        color: #0EAF15;
    }

  }

}

.card-panel {
  margin-top: 2rem;
}

/* FORM STYLING */
.profile-form {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 53px #C5C5C5;
  padding: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 1.3rem;
  font-weight: 100;
  color: #9e9e9e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
input[type=file],
textarea.materialize-textarea {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.dropdown-content li {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

.upload-file {
  padding-left: 110px;
}

select {
  display: block;
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
}

// -----SIDE NAV-----

.side-nav {
  background-color: $base-purple-blue-dark;
  opacity: 0.8;

  li {
    border-bottom: 1px solid #303F46;
  }

  a {
    color: $white;
    font-size: 15.5px;

    &:hover {
      background-color: darken($base-purple-blue-dark, 15%);
      color: $white;
    }

  }

}

/***** USERS SHOW PAGE *****/



.larger-text {
  font-size: 18px;
}

// -----SLIDER-----

.slider.fullscreen {
  margin-top: 62px;
}

.slider .slides li .caption {
  top: -10%;
}
