@import "colors";
// -----MEDIA QUERIES-----

@media screen and (max-width: 992px) {
  .flex-s {
    display: flex;
    flex-direction: column;
  }

  .box-a {
    order: 2;
  }

  .brand-logo {
    margin: 0 auto;
  }

  .valign-wrapper {
    display: block;
  }

  .bio {
    margin-left: 55px;
  }

  .duration-block {
    margin-top: 15px;
  }

  .duration-select {
    width: 200px;

  }

}

@media screen and (max-width: 900px) {
  nav .brand-logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 730px) {

  .home-title {
    font-size: 64px;
  }

  .category-dropdown {
    max-width: 300px;
  }

  .category-select {
    width: 250px;
  }

  .btn-delete,
  .update-bid-btn {
    padding: 0;
    width: 140px;
  }

  .profile-form {
    width: 80%;

    select {
      width: 175px;
    }
  }

}

@media screen and (max-width: 600px) {

  .comment-form select {
    width: 70px;
  }

  .category-list {
    display: none;
  }

  .mobile-category-dropdown {
    background-color: $base-light-blue-light;
    display: block;

    .choose-category-title {
      color: $base-purple-blue-dark;
    }

  }

  .user-action-links a {
    height: 40px;
    padding: 10px;
  }

  .comment-job-title {
    font-size: 25px;
    text-align: center;
  }

  .duration-block {
    margin-top: 0;
  }

  .col.s12.m9.l9.category-content {
    padding-right: 0;
  }

  .job-title-link {
    font-size: 22px;
  }

  .job-partial {
    text-align: center;
  }

  .job-info {
    border-right: 0;
  }

  .category-name,
  .job-show-title {
    text-align: center;
  }

  .col.s12.m12.l8.box-b.main-job-information {
    padding-left: 20px;
  }

  .bid-comment {
    margin-left: 0;
  }

  .bidder-name {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  .submit-bid-btn {
    margin-top: 10px;
  }

  .job-lister-details {
    text-align: center;
  }

  .bio {
    margin: 0 10px;
  }

  .duration-select {
    width: 250px;
  }

  .btn-delete,
  .update-bid-btn {
    margin: 10px auto;
  }

  h3#ui-id-1.my-bid {
    font-size: 18px;
  }

}

@media screen and (max-width: 550px) {

  h2 {
    font-size: 40px;
  }

  .home-title {
    font-size: 48px;
  }

  .create-acct-button {
    margin-bottom: 20px;
  }

  select {
    font-size: 16px;
    width: 190px;
  }

  input {
    font-size: 16px;
  }

  .artist-thumb {
    float: left;
  }

  .upload-file {
    padding-left: 0;
  }

  h5 {
    font-size: 18px;
  }

  table a,
  table tr {
    font-size: 14px;
  }

  h3#ui-id-1 {
    font-size: 18px;
    padding: 5px 0;
  }

  .job-location {
    font-size: 18px;
  }

  .comments-label {
    font-size: 30px;
  }

  .comment-card p {
    margin: 3px;
  }

  .row.job-lister-image.valign {
    margin: 0 auto;
    width: 60%;
  }

}

@media only screen and (max-width: 500px) and (orientation: landscape) {

  .create-acct-button,
  .log-in-button {
    height: 50px;
    line-height: 11px;
  }

}

@media screen and (max-width: 410px) {

  .home-title {
    font-size: 30px;
  }

  .category-select {
    font-size: 16px;
    width: 170px;
  }

  .category-name {
    font-size: 26px;
  }

}
