@import "colors";
// -----MEDIA QUERIES-----

@media screen and (max-width: 992px) {
  .flex-s {
    display: flex;
    flex-direction: column;
  }

  .box-a {
    order: 2;
  }

  .brand-logo {
    margin: 0 auto;
  }

  .valign-wrapper {
    display: block;
  }

  .bio {
    margin-left: 55px;
  }

  .duration-block {
    margin-top: 15px;
  }

}

@media screen and (max-width: 730px) {

  .home-title {
    font-size: 64px;
  }

  .category-dropdown {
    max-width: 300px;
  }

  .category-select {
    width: 250px;
  }

}

@media screen and (max-width: 600px) {

  .category-list {
    display: none;
  }

  .mobile-category-dropdown {
    background-color: $base-light-blue-light;
    display: block;

    .choose-category-title {
      color: $base-purple-blue-dark;
    }

  }

  .user-action-links a {
    padding: 5px;
  }

  .comment-job-title {
    font-size: 25px;
    text-align: center;
  }

  .duration-block {
    margin-top: 0;
  }

}

@media screen and (max-width: 550px) {

  h2 {
    font-size: 40px;
  }

  .home-title {
    font-size: 48px;
  }

  .create-acct-button {
    margin-bottom: 20px;
  }

  select {
    font-size: 16px;
    width: 190px;
  }

  input {
    font-size: 16px;
  }

  .artist-thumb {
    float: left;
  }

  .upload-file {
    padding-left: 0;
  }

  h5 {
    font-size: 16px;
  }

  table a,
  table tr {
    font-size: 14px;
  }

}

@media only screen and (max-width: 500px) and (orientation: landscape) {

  .create-acct-button,
  .log-in-button {
    height: 50px;
    line-height: 11px;
  }

}

@media screen and (max-width: 410px) {

  .home-title {
    font-size: 30px;
  }

}
