@mixin main-link {
  color: $base-purple-blue-dark;

  &:hover {
    color: $base-purple-blue;
  }

}

@mixin button-link {

  a {
    background-color: $base-purple-blue-dark;
    color: $white;
    display: block;
    font-size: 18px;
    padding: 20px;
    text-transform: uppercase;

    &:hover {
      color: $base-purple-blue-dark;
      background-color: $base-light-blue;
    }

  }

}

@mixin job-status-banner {
  border-radius: 5px;
  display: block;
  font-size: 20px;
  height: 35px;
  letter-spacing: 0.5em;
  margin-bottom: 30px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}
