$base-green: #4fc839;
$base-green-light: lighten($base-green, 20%);
$base-light-green: #90ff63;
$base-light-blue: #3af2fc;
$base-light-blue-light: lighten($base-light-blue, 20%);
$base-purple-blue: #5692ff;
$base-purple-blue-dark: darken($base-purple-blue, 20%);
$base-yellow: #fff05a;
