$base-green: #4fc839;
$base-green-light: lighten($base-green, 20%);
$base-light-green: #90FF63;
$base-light-blue: #3AF2FC;
$base-light-blue-light: lighten($base-light-blue, 20%);
$base-purple-blue: #5692FF;
$base-purple-blue-dark: darken($base-purple-blue, 20%);
$base-yellow: #FFF05A;
