@import "colors";
/* STRIPE -- DO NOT DELETE!!!! */

button.stripe-button-el span {
  display: none !important;
}

/* END OF STRIPE -- DO NOT DELETE!!!! */

// ------HOMEPAGE------

.category-dropdown {
  background-color: $base-purple-blue;
  opacity: 0.8;
  padding-bottom: 20px;
  max-width: 475px;
  margin: 0 auto;
}

.choose-category-title {
  font-size: 26px;
  color: $white;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 100;
}

.category-select {
  color: $black;
}

// -----CATEGORY SHOW-----
.category-list {
  background-color: $white;
}

.category-list-item {
  box-sizing: border-box;
  color: $black;
  font-size: 26px;
  padding: 20px 0;

  &:hover {
    background-color: $base-light-blue-light;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  a {
    color: $base-purple-blue-dark;
  }
}

.mobile-category-dropdown {
  display: none;
}

.job-partial {
  border-bottom: 0.5px solid $black;
  margin: 0 70px 40px 0;
}

.duration-estimate-medium {
  background-color: $orange;
  width: 100px;
}

.job-info {
  border-right: 0.5px solid $black;
  color: $base-green-dark;
  font-size: 17px;

  &:last-child {
    border-right: 0;
  }

}

.no-bottom-margin {
  margin-bottom: 0;
}

.job-title-link {
  color: $base-purple-blue-dark;

  &:hover {
    color: $base-purple-blue;
  }

}

.job-lister-name {
  margin-top: 0;
}

.job-lister-image {
  margin: 20px 0 0;
}

// -----JOB SHOW-----

.time-interval-select {
  width: 100px;
}

// -----MAIN STYLES-----

p {
  font-size: 18px;
}

img {
  max-width: 100%;
}

.home-title {
  color: #fff;
  font-family: 'Rokkitt', serif;
  font-size: 100px;
  letter-spacing: 1rem;
  position: relative;
  text-shadow: 3px 5px 15px #000000;
}

h2 {
  font-size: 5rem;
  letter-spacing: 1.1rem;
  font-family: 'Amatic SC', cursive;
}

a {
  color: $white;
}

/* NAVBAR */

nav .brand-logo {
  color: #fff;
  margin-left: 20px;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
}

nav .nav-wrapper {
  background-color: $base-green;
}

nav ul a:hover {
  color: $base-yellow;
}

/* ORDERS */

.status-ordered {
  color: #ffa000;
}

.status-paid {
  color: green;
}

.status-cancelled {
  color: red;
}

.status-completed {
  color: $black;
}

.order-status {
  width: 200px;
  margin: 5px auto 20px auto;
}

/* BUTTONS */

.remove-item-button {
  font-size: 14px;
  position: relative;
  top: -62px;
  left: 150px;
}

.login-confirm {
  color: $base-light-blue-light;
}

.img-small {
  max-width: 100%;
}

.highlight tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $white;
}

.container {
  padding-top: 20px;
}

.error {
  color: rgba(196, 42, 32, 0.8);
}

.landing-buttons {
  position: relative;
  top: 200px;
}

.index-button {
  background-color: $base-purple-blue;
  height: 70px;
  opacity: 0.9;
  padding: 0;
  margin: 0 10px;

  &:hover {
    background-color: $base-light-blue-light;
  }

  a {
    display: block;
    height: 100%;
    padding: 20px;
    color: $white;
    font-size: 17px;

    &:hover {
      color: $base-purple-blue;
    }

  }

}

.btn-edit {
  background-color: rgba(115, 127, 149, 1);

  &:hover {
    background-color: rgba(115, 127, 149, 0.8);
  }

}

.btn-delete {
  background-color: rgba(104, 168, 173,1);

  &:hover {
    background-color: rgba(104, 168, 173,0.8);
  }

}

.create-acct-button,
.log-in-button {
  margin-top: 5px;
  width: 225px;
}

.active-status-text {
  color: #6C8672;
  font-weight: 100;
}

.inactive-status-text {
  color: #C4D4AF;
  font-weight: 100;
}

.pink-error-text {
  color: #F17D80;
}

/* CARDS */

.card-title {
  opacity: 0.8;
}

.title-links {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

/* FLASH MESSAGES */

.flash-success {
  background-color: #ccff90;
  text-align: center;
  font-size: 1.2em;
}

.flash-error {
  background-color: #f25050;
  text-align: center;
  font-size: 1.2em;
}

/* ORDERS SHOW PAGE */

.order-image.col.s5 {
  clear: both;
}

.order-card-title {
  font-size: 30px;
  display: block;
  padding-bottom: 17px;
  font-weight: 700;
}

.order-details-top {
  font-size: 15px;
  padding: 20px 0px;
  font-weight: 300;
  border-bottom: 1px dashed #607D8B;
}

.order-heading {
  font-weight: 700;
  text-decoration: underline;
  margin-right: 10px;
}

.order-data {
  text-align: left;
  font-size: 17px;

  a {
    font-size: 20px;
    color: rgb(64, 136, 171);

    &:hover {
        color: #0EAF15;
    }

  }

}

.card-panel {
  margin-top: 2rem;
}

/* FORM STYLING */
.profile-form {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 53px #C5C5C5;
  padding: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 1.3rem;
  font-weight: 100;
  color: #9e9e9e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
input[type=file],
textarea.materialize-textarea {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.dropdown-content li {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

.upload-file {
  padding-left: 110px;
}

select {
  display: block;
  font-size: 20px;
  width: 300px;
  margin: 0 auto;
}

/***** SIDE NAV ******/

.side-nav {
  background-color: $base-purple-blue-dark;
  opacity: 0.8;

  li {
    border-bottom: 1px solid #303F46;
  }

  a {
    color: $white;
    font-size: 15.5px;

    &:hover {
      background-color: darken($base-purple-blue-dark, 15%);
      color: $white;
    }

  }

}

/***** USERS SHOW PAGE *****/

.user-action-links .action-box {
  margin-bottom: 10px;

  a {
    color: #C4D4AF;
    display: block;
    padding: 20px;
    background-color: #6C8672;

    &:hover {
      color: #6C8672;
      background-color: #C4D4AF;
    }

  }

}

.larger-text {
  font-size: 18px;
}

/***** SLIDER *****/

.slider.fullscreen {
  margin-top: 62px;
}

.slider .slides li .caption {
  top: -10%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 990px) {

  .brand-logo {
    margin: 0 auto;
  }

}

@media screen and (max-width: 730px) {

  .home-title {
    font-size: 64px;
  }

  .category-dropdown {
    max-width: 300px;
  }

  .category-select {
    width: 250px;
  }

}

@media screen and (max-width: 600px) {

  .category-list {
    display: none;
  }

  .mobile-category-dropdown {
    background-color: $base-light-blue-light;
    display: block;
    .choose-category-title {
      color: $base-purple-blue-dark;
    }

  }

}

@media screen and (max-width: 550px) {

  h2 {
    font-size: 40px;
  }

  .home-title {
    font-size: 48px;
  }

  .create-acct-button {
    margin-bottom: 20px;
  }

  select {
    width: 190px;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  .artist-thumb {
    float: left;
  }

  .upload-file {
    padding-left: 0;
  }

  h5 {
    font-size: 16px;
  }

  table a,
  table tr {
    font-size: 14px;
  }

}

@media only screen and (max-width: 500px) and (orientation: landscape) {

  .create-acct-button,
  .log-in-button {
    height: 50px;
    line-height: 11px;
  }

}

@media screen and (max-width: 410px) {

  .home-title {
    font-size: 30px;
  }

}
