<div class="landing-buttons center-align">
  <h1 class = "home-title">Freelancer</h1>

  <% unless current_user %>
    <div class="btn index-button create-acct-button">
      <%= link_to "Create Account", sign_up_path, class: "waves-effect waves-light" %>
    </div>
    <br>

    <div class="btn index-button log-in-button">
      <%= link_to "Log In", login_path, class: "waves-effect waves-light" %>
    </div>
  <% end %>

  <div class="category-dropdown">
    <h3>Choose a Category:</h3>
    <br>
    <%= select_tag :categories, options_for_select(%w(culinary carpentry electrical)), class: "index-button" %>
  </div>
</div>
