<div class="landing-buttons center-align">
  <h1 class = "home-title">Freelancer</h1>
  <div class="btn index-button browse-poster-button">
    <%= link_to "Browse by Poster", artists_path, class: "waves-effect waves-light" %>
  </div>

  <div class="btn index-button browse-cat-button">
    <%= link_to "Browse by Category", categories_path, class: "waves-effect waves-light" %>
  </div>
  <br>

  <% unless current_user %>
    <div class="btn index-button create-acct-button">
      <%= link_to "Create Account", sign_up_path, class: "waves-effect waves-light" %>
    </div>
    <br>

    <div class="btn index-button log-in-button">
      <%= link_to "Log In", login_path, class: "waves-effect waves-light" %>
    </div>
  <% end %>
</div>
