<div class="landing-buttons center-align">
  <h1 class = "home-title">Freelancer</h1>

  <% unless current_user %>
    <div class="btn index-button create-acct-button">
      <%= link_to "Create Account", sign_up_path, class: "waves-effect waves-light" %>
    </div>

    <div class="btn index-button log-in-button">
      <%= link_to "Log In", login_path, class: "waves-effect waves-light" %>
    </div>
  <% end %>

  <div class="category-dropdown">
    <h3 class="choose-category-title">Choose a Category</h3>
    <div class="input-field select-wrapper">
      <%= select_tag :categories, options_from_collection_for_select(@categories, "id", "name"),
                                  prompt: "Select a Category",
                                  class: "category-select" %>
    </div>
  </div>
</div>
