<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body class="landing_page">
    <%= render partial: "layouts/javascripts" %>
    <%= render partial: "layouts/navbar" %>

    <div class="container center-align">
      <%= yield %>
    </div>

    <script type="text/javascript">
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.slider').slider({full_width: true, indicators: false});
        $('.caption').css({'opacity' : 1})
      })
    </script>
  </body>
</html>
